@keyframes blink
{
	0%   {  background:rgba(99,222,0,1);  }
	100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
	0%   {  background:rgba(99,222,0,1);  }
	100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
	0%   {  background:rgba(99,222,0,1);  }
	100% {  background:rgba(99,222,0,0);  }
}
