body{
background: #000;
font-family: courier;
}

.content {
position:relative;
}

#input {
width: 910px;
display:inline-block;
position:relative;
float:left;
}

.bottom {
position:absolute;
bottom:5px;
width: 100%;
}

.label {
width: 30px;
position: relative;
left: 15px;
color: #63DE00;
float:left;
}

.console {
position:absolute;
bottom:32px;
overflow:hidden;
}

.white{
color: #fefefe;
}

.blue{
color: #81bbd5;
}

.green{
color: #63DE00;
}

.red{
color: #F62217;
}

.line {
margin-left: 15px;
margin-bottom:5px;
}

.line p{
  margin-top: 5px;
}

.margin {
margin-left: 40px;
margin-bottom:2px;
}
